<footer class="page-footer">
    <div class="container">
        <ul class="cate-wrapper">
            <li><a href="">qui sommes-nous</a></li>
            <li><a href="">ecrivez-nous</a></li>
            <li><a href="">abonnement</a></li>
            <li><a href="">publicité </a></li>
        </ul>
        <div class="wrapper">
            <div class="pri-wrapper">
                <h2 class="logo-footer">
                    <a href="">logo footer</a>
                </h2>
                <p class="text">Copyright : Le Courrier du Vietnam, tous droits réservés, Agence Vietnamienne
                    d'Information (AVI)</p>
            </div>
            <div class="second-wrapper">
                <p class="bold">Rédactrice en chef: Nguyễn Hồng Nga</p>
                <p>Adresse : 79, rue Ly Thuong Kiêt, Hanoi, Vietnam. </p>
                <p>Tél : (+84) 24 38 25 20 96</p>
                <p>E-mail : courrier@vnanet.vn, courrier.cvn@gmail.com</p>
            </div>
        </div>
    </div>
</footer>