.icon {
    width: 24px;
    height: 24px;
    display: block;
    margin: 0 auto;
    font-size: 0 !important;
}

.icon {
    &-search {
        margin-right: 8px;
        background: url(../img/icon-search.png) center center/15px no-repeat;
    }

    &-user {
        margin-right: 8px;
        background: url(../img/icon-user.png) center center/13px no-repeat;
    }
}