.icon {
    width: 24px;
    height: 24px;
    display: block;
    margin: 0 auto;
    font-size: 0 !important;
}

.icon {
    &-search {
        margin-right: 8px;
        background: url(../img/icon-search.png) center center/15px no-repeat;
    }

    &-user {
        margin-right: 8px;
        background: url(../img/icon-user.png) center center/13px no-repeat;
    }

    &-home {
        background: url(../img/icon-home.png) center center/23px no-repeat;
    }

    &-chevron-down {
        width: 18px;
        background: url(../img/chevron-down.png) center center/9px no-repeat;
    }

    &-longform {
        background: #fff url(../img/icon-longform.png) center center/16px no-repeat !important;
    }

    &-play {
        background: #fff url(../img/icon-play.png) center center/16px no-repeat !important;
    }

    &-mic {
        background: #fff url(../img/icon-mic.png) center center/10px no-repeat !important;
    }
}