// > layout
.container {
    width: 1287px !important;
    max-width: 1287px !important;
}

.abf-homepage {
    display: flex;
    justify-content: space-between;

    .rank-1 {
        width: 759px;
    }

    .rank-2 {
        width: 264px;
    }

    .rank-3 {
        width: 198px;
    }
}