// > layout
.container {
    width: 1287px !important;
    max-width: 1287px !important;
}

.abf-homepage {
    display: flex;
    justify-content: space-between;

    .rank-1 {
        width: 759px;
    }

    .rank-2 {
        width: 264px;
    }

    .rank-3 {
        width: 198px;
    }
}

.zone-1 {
    display: flex;
    justify-content: space-between;

    .non-tab {
        width: 231px;
    }

    .pri-tab {
        width: 693px;
    }

    .third-tab {
        width: 297px;
    }
}

.col-wrapper {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;

    .main-col {
        width: 792px;
    }

    .sub-col {
        width: 297px;
    }

    .pri-tab {
        width: 957px;
    }

    .second-tab {
        width: 297px;
    }
}

.article-page {
    .container {
        width: 1122px !important;
    }
}