// style index ( momentary )
.index-page {
  .heading {
    font-size: 40px;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
  }

  ul {
    margin-top: 40px;

    li {
      list-style-type: space-counter;
    }

    a {
      font-size: 16px;
      text-transform: capitalize;
      padding-left: 10px;
    }

  }
}

// main style
body {
  font-size: 14px;
}

// global
// INFO :  style for scroll
.scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px transparent;
  border-radius: 6px;
  background-color: transparent;
}

.scroll::-webkit-scrollbar {
  width: 4px;
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.1);
}
