// Playfair Display

@font-face {
    font-family: 'PlayfairDisplay';
    src: url('../fonts/PlayfairDisplay/PlayfairDisplay-SemiBold.ttf');
    font-weight: 600;
}

// Quicksand
@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand/Quicksand-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand/Quicksand-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand/Quicksand-Bold.ttf');
    font-weight: 700;
}


// Noto Serif 
@font-face {
    font-family: 'NotoSerif';
    src: url('../fonts/NotoSerif/NotoSerif-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'NotoSerif';
    src: url('../fonts/NotoSerif/NotoSerif-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'NotoSerif';
    src: url('../fonts/NotoSerif/NotoSerif-SemiBold.ttf');
    font-weight: 600;
}

// Newsreader-display
@font-face {
    font-family: 'Newsreader';
    src: url('../fonts/Newsreader-display/newsreader-display-bold.ttf');
    font-weight: 700;
}