// style index ( momentary )
.index-page {
  .heading {
    font-size: 40px;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
  }

  ul {
    margin-top: 40px;

    li {
      list-style-type: space-counter;
    }

    a {
      font-size: 16px;
      text-transform: capitalize;
      padding-left: 10px;
    }

  }
}

.no-scroll {
  overflow: hidden;
}

// main style
body {
  font-size: 14px;
}

.abf-homepage {
  margin-top: -16px;

  .rank-1 {
    .story {
      overflow: inherit;

      &__thumb {
        width: auto;
        height: 56vw;
        margin: 0 -16px;
      }

      &__heading a {
        font-family: "PlayfairDisplay";
        font-weight: $font-weight-semibold;
        font-size: 23px;
        line-height: 32px;
        color: #212529;
        padding-top: 12px;
      }
    }
  }

  .rank-2 {
    margin-top: 30px;

    .story {

      margin-top: 16px;
      padding-top: 16px;
      border-top: 1px solid;
      border-color: rgba(0, 0, 0, .1);

      &:first-child {
        margin-top: 0;
        padding-top: 0;
        border-top: none;
      }

      &__thumb {
        width: 33.3%;
        height: 23vw;
        float: left;
        margin-right: 12px;
      }

      &__heading a {
        font-family: 'NotoSerif';
        font-weight: $font-weight-normal;
        font-size: 16px;
        line-height: 24px;
        color: #212529;
      }
    }
  }
}

.three-pack {
  background: #CEEAFB;
  padding: 0 16px 16px;
  margin: 0 -16px;
  margin-top: 28px;

  >* {
    padding-top: 16px;
    width: 100%;
    height: 32.3vw;
    display: block;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.magazine {
  margin: 0 -16px;
  margin-top: 28px;

  .heading {
    font-family: 'Newsreader';
    font-weight: $font-weight-bold;
    font-size: 25px;
    line-height: 37.5px;
    letter-spacing: -0.02em;
    color: #D03927;
    padding: 0 16px;
  }

  .box-content {
    margin-top: 4px;
  }

  .story {
    position: relative;
    margin-right: 4px;

    &__heading a {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #fff;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0, #000 67.71%);
      padding: 61px 24px 16px;
      position: absolute;
      bottom: 0;
      height: 100%;
      display: flex;
      align-items: end;
    }

    .icon {
      position: absolute;
      top: 12px;
      left: 12px;
    }
  }

  .slick-list {
    padding-left: 0px !important; // half partial
  }

  .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

    li {
      margin: 0 8px;
    }

    li,
    button {
      border-radius: 50%;
      width: 12px;
      height: 12px;
      background: #E9ECEF;
      font-size: 0;
    }

    .slick-active {
      background: #BD1723;

      button {
        background: #BD1723;
      }
    }
  }

}

.topics-wrapper {
  margin-top: 28px;

  .heading {
    font-family: 'Newsreader';
    font-weight: $font-weight-bold;
    font-size: 25px;
    line-height: 25px;
    letter-spacing: -0.02em;
    color: #D03927;
  }

  .box-content {
    margin-top: 12px;

    >.story {
      margin-top: 0;
      padding-top: 0;
      border-top: none;

      .story__thumb {
        height: 55vw;
      }

      .story__heading a {
        font-family: 'PlayfairDisplay';
        font-weight: $font-weight-medium;
        font-size: 18px;
        line-height: 25px;
        color: #212529;
        padding-top: 8px;
      }
    }
  }

  .story {
    margin-top: 12px;
    padding-top: 12px;
    border-top: 1px solid #E9ECEF;

    &__heading a {
      font-weight: $font-weight-medium;
      font-size: 14px;
      line-height: 22px;
      color: #212529;
    }
  }
}

.cate-breadcrumb {
  .cate-parent {
    font-family: 'Righteous';
    font-weight: $font-weight-normal;
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;
    color: #BD1723;
  }
}

.podcasts {
  margin-top: 28px;

  .heading {
    font-family: 'Newsreader';
    font-weight: $font-weight-bold;
    font-size: 25px;
    line-height: 25px;
    letter-spacing: -0.02em;
    color: #D03927;
  }

  .box-content {
    margin: 0 -16px;
    margin-top: 20px;
  }

  .story {
    position: relative;
    width: 162px;
    padding: 9px 16px;

    &__thumb {
      width: 106px;
      height: 106px;
      background: #FFFFFF;
      border: 1px solid #E9ECEF;
      border-radius: 50%;
      padding: 6px;
      margin: 0 auto;


      img {
        border-radius: 50%;
      }
    }

    &__heading a {
      font-weight: $font-weight-medium;
      font-size: 14px;
      line-height: 22px;
      text-align: center;
      color: #343A40;
      padding-top: 14px;
    }
  }

  .icon {
    position: absolute;
    top: 84px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
  }

  .slick-list {
    padding-left: 0px !important; // half partial
  }
}

.four-pack {
  margin-top: 28px;

  .heading {
    font-family: 'Newsreader';
    font-weight: $font-weight-bold;
    font-size: 25px;
    line-height: 25px;
    letter-spacing: -0.02em;
    color: #D03927;
  }

  .box-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 12px;
  }

  .story {
    width: calc(50% - 6px);
    margin-top: 22px;

    &:nth-child(-n+2) {
      margin-top: 0;
    }

    &__thumb {
      width: 100%;
      height: 29.6vw;
    }

    &__heading a {
      font-weight: $font-weight-medium;
      font-size: 14px;
      line-height: 22px;
      color: #343A40;
      padding-top: 8px;
    }

  }
}

.wrap-breadcrumb {
  margin-bottom: 10px;

  a {
    padding-top: 1px;

    >* {
      font-family: "Quicksand";
      font-weight: $font-weight-bold;
      font-size: 18px;
      line-height: 22px;
      color: #000000;
      float: left;
      margin-right: 12px;
    }

    &.active {
      font-family: 'Newsreader';
      font-weight: $font-weight-bold;
      font-size: 20px;
      line-height: 32px;
      color: #E21F26;
      float: left;
      margin-right: 12px;
      margin-top: -9px;
      text-transform: uppercase;
    }
  }
}

.breadcrumb {
  display: flex;
  align-items: center;
  padding-right: 36px;
  height: 24px;
  align-items: center;

  li:first-child {
    a {
      >* {
        border-left: 0;
        padding-left: 0;
        margin-left: 0;
      }
    }
  }

  a {
    font-weight: $font-weight-medium;
    font-size: 14px;
    line-height: 18px;
    white-space: nowrap;

    >* {
      font-family: 'Quicksand';
      font-weight: $font-weight-medium;
      font-size: 14px;
      line-height: 18px;
      color: #343A40;
      white-space: nowrap;
      margin-left: 11px;
      padding-left: 11px;
      margin-right: 0;
      border-left: 1px solid $border-color;
    }

    &.is-active {
      color: #dc3545;
      font-size: 14px;
      line-height: 18px;
      text-transform: none;
      padding-top: 4px;
      font-family: "Merriweather";

      >* {
        color: #dc3545;
      }
    }
  }

  li:last-child {
    a {
      margin-right: 0;
      padding-right: 0;
      border-right: none;
    }
  }

  .slick-next {
    width: 24px;
    height: 24px;
    margin-left: 12px;
    position: absolute;
    font-size: 0;
    background: url(../img/arrow-right-circle.png) center center/24px no-repeat;
    right: 0;
    top: -2px;
  }
}

.abf-cate {
  margin-top: 10px;

  .story {
    &__thumb {
      width: 100%;
      height: 61.5vw;
    }

    &__heading a {
      font-family: 'PlayfairDisplay';
      font-weight: $font-weight-semibold;
      font-size: 23px;
      line-height: 32px;
      color: #212529;
      padding-top: 12px;
    }
  }
}

.timeline {
  margin-top: 24px;

  .story {
    margin-top: 16px;
    padding-top: 16px;
    border-top: 1px solid;
    border-color: rgba(0, 0, 0, .1);

    &__thumb {
      width: 33%;
      height: 23vw;
      float: left;
      margin-right: 12px;
    }

    &__heading a {
      font-weight: $font-weight-normal;
      font-size: 16px;
      line-height: 24px;
      color: #212529;
    }
  }
}

.load-more {
  background: #BD1723 url(../img/arrow.png) top 12px left 37px/7px no-repeat;
  width: 127px;
  height: 42px;
  font-family: "Quicksand";
  font-weight: $font-weight-bold;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  padding-left: 52px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-top: 36px;
}

.box-relate-news {
  margin-top: 42px;

  .heading {
    font-family: 'Newsreader';
    font-weight: $font-weight-bold;
    font-size: 20px;
    line-height: 160%;
    text-transform: uppercase;
    color: #D03927;
  }

  .box-content {
    margin-top: 12px;
  }

  .story {

    margin-top: 16px;
    padding-top: 16px;
    border-top: 1px solid;
    border-color: rgba(0, 0, 0, .1);

    &:first-child {
      margin-top: 0;
      padding-top: 0;
      border-top: none;
    }

    &__thumb {
      width: 33.3%;
      height: 23vw;
      float: left;
      margin-right: 12px;
    }

    &__heading a {
      font-family: 'NotoSerif';
      font-weight: $font-weight-normal;
      font-size: 16px;
      line-height: 24px;
      color: #212529;
    }
  }
}

.wrap-tags {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .tags {
    font-family: 'Newsreader';
    font-weight: $font-weight-bold;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    color: #000000;
  }

  .result {
    font-family: 'Quicksand';
    font-weight: $font-weight-normal;
    font-size: 14px;
    line-height: 20px;
    color: #343A40;
  }
}

.wrap-tags~.timeline {
  margin-top: 12px;

  .story {
    &:first-child {
      margin-top: 0;
      padding-top: 0;
      border-top: none;
    }
  }
}

.wrap-search {
  .region-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .keywords {
    font-family: 'Newsreader';
    font-weight: $font-weight-bold;
    font-size: 16px;
    line-height: 30px;
    color: #000000;

    span {
      color: #BD1723;
      text-transform: uppercase;
    }
  }

  .result {
    font-family: 'Quicksand';
    font-weight: $font-weight-normal;
    font-size: 14px;
    line-height: 20px;
    color: #343A40;
  }

  .region-search {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 40px;
    margin-top: 12px;

    input {
      padding: 4px 4px 4px 20px;
      position: absolute;
      width: 100%;
      height: 100%;
      background: #f8f9fa;
      border: 1px solid #e9ecef;
      outline: 0;

      &::placeholder {
        font-family: 'Quicksand';
        font-weight: $font-weight-medium;
        font-size: 12px;
        line-height: 15px;
        display: flex;
        align-items: center;
        color: #ADB5BD;
      }
    }

    i {
      position: absolute;
      right: 4px;
      top: 4px;
      width: 32px;
      height: 32px;
      background: #bd1723;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      color: #fff;
      cursor: pointer;
    }
  }


}

.filter-wrapper {
  margin-top: 16px;

  .heading {
    font-family: 'Quicksand';
    font-weight: $font-weight-medium;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #000000;
  }

  .box-filter {
    background: #f8f9fa;
    border: 1px solid #e9ecef;
    box-sizing: border-box;
    padding: 32px;
    margin-top: 16px;
  }

  .form-field {
    margin-top: 20px;

    &:first-child {
      margin-top: 0;
    }

    label {
      font-weight: 400;
      font-size: 13px;
      line-height: 20px;
      display: flex;
      align-items: center;
      color: #adb5bd;
    }

    select {
      cursor: pointer;
      border: 1px solid #e9ecef;
      border-radius: 8px;
      box-sizing: border-box;
      width: 100%;
      outline: 0;
      font-size: 13px;
      line-height: 20px;
      color: #495057;
      padding: 12px 16px;
      -webkit-appearance: none;
      -moz-appearance: none;
      background: #fff url(../img/arrow-down.png) center right 14px/20px no-repeat;
    }

  }

  .btn-search {
    outline: 0;
    border: none;
    background: #bd1723;
    border-radius: 4px;
    width: 118px;
    height: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #fff;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    cursor: pointer;
  }
}