<header class="page-header">
    <div class="container">
        <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <h1 class="region-logo">
            <a href="index.html" class="logo">Nghệ An</a>
        </h1>
        <div class="wrap-search">
            <span class="icon icon-search"></span>
        </div>
    </div>
</header>

<div class="navigation">
    <ul class="menu">
        <li><a href="">Politique</a></li>
        <li><a href="">Economie</a></li>
        <li><a href="">Francophonie</a></li>
        <li><a href="">Diaspora</a></li>
        <li><a href="">Dossier</a></li>
        <li><a href="">Société</a></li>
        <li><a href="">Culture</a></li>
        <li><a href="">International</a></li>
        <li><a href="">Opinion</a></li>
        <li><a href="">Tourisme</a></li>
        <li><a href="">Styles</a></li>
        <li><a href="">Economie</a></li>
    </ul>
    <div class="mask">mask</div>
</div>

<div class="search-wrapper">
    <div class="region-search">
        <input type="text" class="search" placeholder="Keyword...">
        <span class="icon icon-search"></span>
    </div>
    <div class="mask">mask</div>
</div>