<header class="page-header">
    <div class="top-header">
        <div class="container">
            <time class="top-header__left">Samedi, 30/ 10/ 2021</time>
            <ul class="top-header__right">
                <li><a href=""> <span class="icon icon-search">icon search</span> Recherche</a></li>
                <li><a href=""> <span class="icon icon-user">icon user</span> Connexion</a></li>
            </ul>
        </div>
    </div>
    <div class="logo-wrapper">
        <div class="container">
            <h1 class="logo">
                <a href="./index.html">logo</a>
            </h1>
            <div class="wrapper">
                <a href="">
                    <img src="../styles/img/consulter-le-journal.png" alt="">
                </a>
                <a href="" class="text">Consulter le journal</a>
            </div>
        </div>
    </div>

    <div class="menu-wrapper sticky">
        <div class="container">
            <ul class="menu d-flex">
                <li><a href="#" class="icon icon-home">home</a></li>
                <li><a href="#">News</a>
                    <ul class="sub-menu">
                        <li><a href="#">Lorem ipsum dolor sit dfdf.</a></li>
                        <li><a href="#">sub-menu 2</a></li>
                        <li><a href="#">sub-menu 3</a></li>
                        <li><a href="#">sub-menu 4</a></li>
                    </ul>
                </li>
                <li><a href="#">Legal Updates</a></li>
                <li><a href="#">In the Pipeline</a></li>
                <li><a href="#">Business</a></li>
                <li><a href="#">Focus</a></li>
                <li><a href="#">Forum</a></li>
                <li><a href="#">Law Guide</a></li>
                <li><a href="#">Society an law</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Courts</a></li>
                <li><a href="#">History an law</a></li>
                <li><a href="">Traditions
                        <span class="icon icon-chevron-down">icon-chevron-down</span>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="#">sub-menu 1</a></li>
                        <li><a href="#">sub-menu 2</a></li>
                        <li><a href="#">sub-menu 3</a></li>
                        <li><a href="#">sub-menu 4</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</header>